body {
  margin: 0;
  background-color: #f3eee8;
  font-family: Arial, sans-serif;
  text-align: center;
}


.coffee-title {
  margin-top: 40px;
  font-size: 30px;
  color: #8d5a2d;
}

.cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 80%;
  margin: 30px auto;
  max-width: 1000px;
}

.cont > div {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.3s ease;
}

.cont > div:hover {
  transform: translateY(-5px);
}

.top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: #c49b63;
}

.cont p {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cont {
    grid-template-columns: 1fr;
  }
}


.main-title {
  margin-top: 60px;
  color: #d35400;
  font-size: 32px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.feature-box img {
  width: 60px;
}

.feature-box p {
  color: gray;
  font-size: 14px;
}

.sub-title {
  margin-top: 40px;
  color: #d35400;
  font-size: 26px;
}

.guest-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  width: 250px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card button {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: #a85a50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 40px;
  padding: 0 40px;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.product p {
  color: gray;
  font-size: 14px;
}
